# Entorno virtual
.venv/
venv/
env/

# Python cache y archivos de bytecode
__pycache__/
*.py[cod]
*.so

# Archivos de distribución
dist/
build/

# Editor y IDEs
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# Carpetas
dumps/
.agents/


# Otros
.DS_Store
generar_dump.py